body {
    margin: 0;
    margin-top: 0;
    padding: 25px;
}
header {
    display: flex;
    position: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 50px;
    background-color: #b3e6ff;
    padding: 25px;
}
header * {
    display: inline;
    height: 0;
    line-height: 50px;
}
section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
}
footer {
    text-align: center;
    padding: 50px;
}


/*--------------Modified-----------------*/

header nav {
   line-height: 50px; 
   padding: 18px 18px;
}
header ul {
    line-height: 50px;
}

header li {
    margin-left: 50px;
    line-height: 50px;
    padding: 20px 20px;
}

/*--------------Made up-----------------*/

        .nav-item>a:hover {
            color: green;
        }
 
        .nav-item-active>a {
            color: white;
        }


div.bigspacer
{
font-size: 0; 
height: 50px;
line-height: 0;    
}

div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 1px;
  width: 0px;
}

div.spacer
{
    font-size: 0; 
    height: 10px;
    line-height: 0;
}

div.spacer2
{
 font-size:0;
 left:25px;
}

div.column
{
  float: left;
  padding: 10px;
  height: 300px;
  width: 0.25;
}


div.bigcolumn
{
  float: left;
  padding: 10px;
  width: 75%;
}


